$logo-color: #23458F;
$bodyColor: #D8D8D8;
$easternConferenceColor: #0000cc;
$westernConferenceColor: #ff3300;
$asideColor: #686868;
$headerColor: #E8E8E8;
// $super-awesome-font: Helvetica, sans-serif;
//
// $super-awesome-font-size: (13/8) * 1em;
//
// $alert-weight: bold;
//
// $alert-font-color: #222;
//
// $alert-succes-color: green;
// $alert-warning-color: yellow;
// $alert-error-color: red;
// $alert-info-color: blue;
//
// $alert-opacity: .5;
//
// $alert-border-radius: 10px;
// $shadow-color: rgba(0,0,0,.5);
